        <a href="#" onclick='edit_adapter_dialog({dvb_input_id});
                                return false;'><i class="uk-icon-cog uk-icon-small" title="Редактировать"></i></a>
        <a style="{delete_display}" onclick="return confirm('Удалить адаптер?')" href="{php_self}?plugin=adapters&action=delete_adapter&dvb_input_id={dvb_input_id}"><i class="uk-icon-times uk-icon-small" style="color:red" title="Удалить"></i></a>
