<form id='channel_edit_form' method="post" action="{php_self}" class="uk-form">
  <fieldset data-uk-margin class="uk-form-horizontal">
    <legend>Редактирование канала</legend>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">Название:</label>
      <div class="uk-form-controls">
        <input name="name" id="name" value="{name}" maxlength="50">
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">Astra:</label>
      <div class="uk-form-controls"> {astra_select}<a href="" style="margin-left: 20px" onclick="return channel_reload_astra();"><i class="uk-icon-refresh uk-icon-small" style="color:green" title="Перезагрузить"></i></a></div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">Включен:</label>
      <div class="uk-form-controls">
        <input type="checkbox" name="enable" id="enable" {enable_checked}>
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">Мониторинг:</label>
      <div class="uk-form-controls">
        <input type="checkbox" name="event" id="event" {event_checked}>
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">PNR:</label>
      <div class="uk-form-controls">
        <input name="channel_pnr" id="channel_pnr" value="{channel_pnr}" maxlength="8">&nbsp;&nbsp;(установка PNR для всех источников, 0 - не устанавливать)
      </div>
    </div>
    <div class="uk-form-row">
      <div class="uk-form-controls">
        <button type="submit" class="uk-button uk-button-success" ><i class="uk-icon-save"></i> Сохранить</button>
      </div>
    </div>
  </fieldset>
  <fieldset data-uk-margin class="uk-form-horizontal">
    <legend>Входы </legend>
    <div class="uk-form-row">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="input_list" class="display compact nowrap">
        <thead id="input_list_header">
          <tr>
            <th align="left">Приоритет</th>
            <th align="left">Адрес</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="uk-form-row">
      <div class="uk-form-controls">
        <button class="uk-button uk-button-primary" onclick="return add_input_dialog()" ><i class="uk-icon-plus"></i> Добавить</button>
      </div>
    </div>
  </fieldset>
  <fieldset data-uk-margin class="uk-form-horizontal">
    <legend>Выходы </legend>
    <div class="uk-form-row">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="output_list" class="display compact nowrap">
        <thead id="output_list_header">
          <tr>
            <th align="left">Адрес</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="uk-form-row">
      <div class="uk-form-controls">
        <button class="uk-button uk-button-primary" onclick="return add_output_dialog()" ><i class="uk-icon-plus"></i> Добавить</button>
      </div>
    </div>
  </fieldset>
  <fieldset data-uk-margin class="uk-form-horizontal">
    <legend>Глобальное преобразования PID на выходе </legend>
    <div class="uk-form-row">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="map_list" class="display compact nowrap">
        <thead id="map_list_header">
          <tr>
            <th align="left">Входной PID</th>
            <th align="left">Выходной PID</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="uk-form-row">
      <div class="uk-form-controls">
        <button class="uk-button uk-button-primary" onclick="return add_map_dialog()"><i class="uk-icon-plus"></i> Добавить</button>
        &nbsp;&nbsp;&nbsp;
        Вставить из шаблона {map_template_select}
        <button class="uk-button uk-button-primary" onclick="return add_map_template()"> <i class="uk-icon-copy"></i> </button>
        &nbsp;&nbsp;&nbsp;
        <button class="uk-button uk-button-danger" onclick="return delete_all_maps()"><i class="uk-icon-trash-o"></i> Удалить все</button>
      </div>
    </div>
  </fieldset>
  <input type="hidden" name='plugin' id='plugin' value="channels">
  <input type="hidden" name='action' id='action' value="edit_channel">
  <input type="hidden" name='channel_id' id='channel_id' value="{channel_id}">
</form>
<div id="map-edit-form" class="uk-modal">
  <div class="uk-modal-dialog"> <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form action="{php_self}" id="map-edit-form-f" class="uk-form">
      <fieldset data-uk-margin class="uk-form-horizontal">
        <legend>Преобразование PID</legend>
        <div class="uk-form-row">
          <label for='input_pid' class="uk-form-label">Входящий PID:</label>
          <div class="uk-form-controls">
            <input name='input_pid' id='input_pid' type="text" maxlength="50" >
          </div>
        </div>
        <div class="uk-form-row">
          <label for='output_pid' class="uk-form-label">Исходящий PID:</label>
          <div class="uk-form-controls">
            <input name='output_pid' id='output_pid' type="text" maxlength="50" >
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <button type="submit" class="uk-button uk-button-success" id="map_submit_button">Добавить</button>
            <input type="hidden" name='plugin' id='plugin' value="channels">
            <input type="hidden" name='action' id='action' value="edit_map">
            <input type="hidden" name='map_id' id='map_id' value="">
            <input type="hidden" name='channel_id' id='channel_id' value="{channel_id}">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div id="output-edit-form" class="uk-modal">
  <div class="uk-modal-dialog"> <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form action="{php_self}" id="output-edit-form-f" method="get" class="uk-form">
      <fieldset data-uk-margin class="uk-form-horizontal" >
        <legend>Параметры выхода</legend>
        <div class="uk-form-row">
          <label for='type' class="uk-form-label">Тип:</label>
          <div class="uk-form-controls">
            <select name="type" id="type" onchange="show_output_type_table()">
              <option>udp</option>
              <option>http</option>
              <option>file</option>
            </select>
          </div>
        </div>
        <div id="out_udp" class="uk-margin-top" style="display: none">
          <div class="uk-form-row">
            <label for='address' class="uk-form-label">Адрес:</label>
            <div class="uk-form-controls">
              <input id='address' name='address' type="text" maxlength="16" >
            </div>
          </div>
          <div class="uk-form-row">
            <label for='port' class="uk-form-label">Порт:</label>
            <div class="uk-form-controls">
              <input id='port' name='port' type="text" maxlength="16" class="uk-form-width-small">
            </div>
          </div>
          <div class="uk-form-row">
            <label for='interface' class="uk-form-label">Интерфейс</label>
            <div class="uk-form-controls">
              <input id='interface' name='interface' type="text" maxlength="16" >
            </div>
          </div>
          <div class="uk-form-row">
            <label for='rtp' class="uk-form-label">RTP:</label>
            <div class="uk-form-controls">
              <input id='rtp' name='rtp' type="checkbox"  />
            </div>
          </div>
          <div class="uk-form-row">
            <label for='sync' class="uk-form-label">Выровнять поток:</label>
            <div class="uk-form-controls">
              <input id='sync' name='sync' type="checkbox" />
            </div>
          </div>
          <div class="uk-form-row">
            <label for='cbr' class="uk-form-label">CBR:</label>
            <div class="uk-form-controls">
              <input id='cbr' name='cbr' type="text" maxlength="5"/> Мбит
            </div>
          </div>
          
          
          <div class="uk-form-row">
            <label for='ttl' class="uk-form-label">TTL:</label>
            <div class="uk-form-controls">
              <input id='ttl' name='ttl' type="text" maxlength="16" >
            </div>
          </div>
          <div class="uk-form-row">
            <label for='socket_size' class="uk-form-label">Буфер сокета, байт:</label>
            <div class="uk-form-controls">
              <input id='socket_size' name='socket_size' type="text" maxlength="16" >
            </div>
          </div>
         <div class="uk-form-row">
            <label for='biss' class="uk-form-label">Ключ BISS:</label>
            <div class="uk-form-controls">
              <input id='biss' name='biss' type="text" maxlength="16" >
            </div>
        </div>
        </div>
        <div id="out_http" style="display: none" class="uk-margin-top">
          <div class="uk-form-row">
            <label for='interface' class="uk-form-label">Интерфейс:</label>
            <div class="uk-form-controls">
              <input id='interface' name='interface' type="text" maxlength="16" >
            </div>
          </div>
          <div class="uk-form-row">
            <label for='port' class="uk-form-label">Порт:</label>
            <div class="uk-form-controls">
              <input id='port' name='port' type="text" maxlength="16" class="uk-form-width-small">
            </div>
          </div>
          <div class="uk-form-row">
            <label for='path' class="uk-form-label">Путь:</label>
            <div class="uk-form-controls">
              <input id='path' name='path' type="text" maxlength="512" >
            </div>
          </div>
          <div class="uk-form-row">
            <label for='keep_active' class="uk-form-label">Всегда активен:</label>
            <div class="uk-form-controls">
              <input id='keep_active' name='keep_active' type="checkbox" />
            </div>
          </div>
        </div>
        <div id="out_file" style="display: none" class="uk-margin-top">
          <div class="uk-form-row">
            <label for='path' class="uk-form-label">Путь:</label>
            <div class="uk-form-controls">
              <input id='path' name='path' type="text" maxlength="512" >
            </div>
          </div>
          <div class="uk-form-row">
            <label for='m2ts' class="uk-form-label">m2ts:</label>
            <div class="uk-form-controls">
              <input type="checkbox" name="m2ts" id="m2ts" />
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <button type="submit" class="uk-button uk-button-success" id="output_submit_button">Добавить</button>
            <input type="hidden" name='plugin' id='plugin' value="channels">
            <input type="hidden" name='action' id='action' value="edit_output">
            <input type="hidden" name='output_id' id='output_id' value="">
            <input type="hidden" name='channel_id' id='channel_id' value="{channel_id}">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div id="input-edit-form" class="uk-modal">
  <div class="uk-modal-dialog"> <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form action="{php_self}" id="input-edit-form-f" method="get" class="uk-form">
      <fieldset data-uk-margin class="uk-form-horizontal" >
        <legend>Параметры входа</legend>
        <div class="uk-form-row">
          <label for='type' class="uk-form-label">Тип:</label>
          <div class="uk-form-controls">
            <select name="type" id="type" onchange="show_input_type_table()">
              <option>dvb</option>
              <option>udp</option>
              <option>http</option>
              <option>file</option>
            </select>
          </div>
        </div>
        <div class="uk-form-row">
          <label for='priority' class="uk-form-label">Приоритет:</label>
          <div class="uk-form-controls">
            <input name='priority' id="priority" type="text" maxlength="5" >
          </div>
        </div>
      </fieldset>
      <fieldset data-uk-margin class="uk-form-horizontal" id="in_dvb" >
        <div class="uk-form-row">
          <label for='dvb_nput_id' class="uk-form-label">Адаптер</label>
          <div class="uk-form-controls" id='dvb_input_select'> </div>
        </div>
      </fieldset>
      <fieldset data-uk-margin class="uk-form-horizontal" id="in_udp" >
        <div class="uk-form-row uk-margin-small-top">
          <label for='address' class="uk-form-label">Адрес:</label>
          <div class="uk-form-controls">
            <input id='address' name='address' type="text" maxlength="16" >
          </div>
        </div>
        <div class="uk-form-row">
          <label for='port' class="uk-form-label">Порт:</label>
          <div class="uk-form-controls">
            <input id='port' name='port' type="text" maxlength="16" class="uk-form-width-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='interface' class="uk-form-label">Интерфейс</label>
          <div class="uk-form-controls">
            <input id='interface' name='interface' type="text" maxlength="16" >
          </div>
        </div>
        <div class="uk-form-row">
          <label for='rtp' class="uk-form-label">RTP:</label>
          <div class="uk-form-controls">
            <input id='rtp' name='rtp' type="checkbox"  />
          </div>
        </div>
        <div class="uk-form-row">
          <label for='renew' class="uk-form-label">Переподписка, сек:</label>
          <div class="uk-form-controls">
            <input id='renew' name='renew' type="text" maxlength="6"  />
          </div>
        </div>
        <div class="uk-form-row">
          <label for='socket_size' class="uk-form-label">Буфер сокета, байт:</label>
          <div class="uk-form-controls">
            <input id='socket_size' name='socket_size' type="text" maxlength="16" >
          </div>
        </div>
      </fieldset>
      <fieldset data-uk-margin class="uk-form-horizontal" id="in_http" >
        <div class="uk-form-row">
          <label for='address' class="uk-form-label">Адрес:</label>
          <div class="uk-form-controls">
            <input id='address' name='address' type="text" maxlength="16" >
          </div>
        </div>
        <div class="uk-form-row">
          <label for='port' class="uk-form-label">Порт:</label>
          <div class="uk-form-controls">
            <input id='port' name='port' type="text" maxlength="16" class="uk-form-width-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='path' class="uk-form-label">Путь:</label>
          <div class="uk-form-controls">
            <input id='path' name='path' type="text" maxlength="512" >
          </div>
        </div>
          <div class="uk-form-row">
            <label for='sync' class="uk-form-label">Буферизация потока:</label>
            <div class="uk-form-controls">
              <input id='sync' name='sync' type="checkbox" />
            </div>
          </div>
        
      </fieldset>
      <fieldset data-uk-margin class="uk-form-horizontal" id="in_file" >
        <div class="uk-form-row">
          <label for='path' class="uk-form-label">Путь:</label>
          <div class="uk-form-controls">
            <input id='path' name='path' type="text" maxlength="512" >
          </div>
        </div>
        <div class="uk-form-row">
          <label for='lock' class="uk-form-label">Файл для сохранения позиции:</label>
          <div class="uk-form-controls">
            <input id='lock' name='lock' type="text" maxlength="512" >
          </div>
        </div>
        <div class="uk-form-row">
          <label for='loop' class="uk-form-label">Повтор:</label>
          <div class="uk-form-controls">
            <input id='loop' name='loop' type="checkbox"  />
          </div>
        </div>
        <div class="uk-form-row">
          <label for='buffer_size' class="uk-form-label">Размер буфера, МБ</label>
          <div class="uk-form-controls">
            <input id='buffer_size' name='buffer_size' type="text" maxlength="4" >
          </div>
        </div>
      </fieldset>
      <fieldset data-uk-margin class="uk-form-horizontal" >
        <div class="uk-form-row">
          <label for='pnr' class="uk-form-label">PNR:</label>
          <div class="uk-form-controls">
            <input id='pnr' name='pnr' type="text" maxlength="16" class="">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='set_pnr' class="uk-form-label">Уст. PNR</label>
          <div class="uk-form-controls">
            <input id='set_pnr' name='set_pnr' type="text" maxlength="16" class="">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='filter' class="uk-form-label">Фильтр PID (через запятую):</label>
          <div class="uk-form-controls">
            <input id='filter' name='filter' type="text" maxlength="50" class="">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='cam' class="uk-form-label">CAM:</label>
          <div class="uk-form-controls">
            <select name="cam" id="cam" onchange="">
              <option value=''>Нет</option>
              <option value='hardware'>Аппаратный</option>
              <option value='newcamd'>Newcamd</option>
              <option value='biss'>BISS</option>
            </select>
          </div>
        </div>
        <div class="uk-form-row">
          <label for='newcamd_id' class="uk-form-label">Аккаунт newcamd:</label>
          <div class="uk-form-controls" id='newcamd_select'> </div>
        </div>
        <div class="uk-form-row">
          <label for='cas_data' class="uk-form-label">Параметры SoftCam:</label>
          <div class="uk-form-controls">
            <input id='cas_data' name='cas_data' type="text" maxlength="30" class="">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='biss' class="uk-form-label">Ключ BISS:</label>
          <div class="uk-form-controls">
            <input id='biss' name='biss' type="text" maxlength="30" class="">
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <button type="submit" class="uk-button uk-button-success" id="input_submit_button">Добавить</button>
            <input type="hidden" name='plugin' id='plugin' value="channels">
            <input type="hidden" name='action' id='action' value="edit_input">
            <input type="hidden" name='input_id' id='input_id' value="">
            <input type="hidden" name='channel_id' id='channel_id' value="{channel_id}">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<script type="text/javascript">
		
		function channel_reload_astra()
		{
				astra_id = $("#astra_id").val();
				if (confirm('Перезагрузить?'))
				{
					$.ajax({
						  url: "{php_self}",
						  type: "GET",
						  data: { astra_id : astra_id , plugin : 'astras', action : "reload_astra" },
						  async: false,
					});
				}
				
				return false;
		}
		
		
		var output_frm = $('#output-edit-form-f');
		output_frm.submit(function (ev) {
			$.ajax({
				type: output_frm.attr('method'),
				url: output_frm.attr('action'),
				data: output_frm.serialize(),
				success: function (data) {
					refresh_outputs();
					$.UIkit.modal("#output-edit-form").hide();
				}
			});
	
			ev.preventDefault();
		});
	
		var input_frm = $('#input-edit-form-f');
		input_frm.submit(function (ev) {
			$.ajax({
				type: input_frm.attr('method'),
				url: input_frm.attr('action'),
				data: input_frm.serialize(),
				success: function (data) {
					refresh_inputs();
					$.UIkit.modal("#input-edit-form").hide();
				}
			});
	
			ev.preventDefault();
		});
		
		function edit_output_dialog(output_id)
		{		
;
				$("#output-edit-form-f #action").val("edit_output");
				$('#output_submit_button').html('<i class="uk-icon-save"></i> Сохранить');
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { output_id : output_id , plugin : 'channels', action : "get_output_params" },
				  async: false,
				  dataType: "script"
				});
				show_output_type_table();
				
				$.UIkit.modal("#output-edit-form").show();
				
				return false;
		}
		
		
		function edit_input_dialog(input_id)
		{		
				$("#input-edit-form-f #action").val("edit_input");
				$('#input_submit_button').html('<i class="uk-icon-save"></i> Сохранить');
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_dvb_input_select" },
				  async: false,
				  success: function(html){  
       						 $("#dvb_input_select").html(html);  
				   }  
				});
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_newcamd_select" },
				  async: false,
				  success: function(html){  
       						 $("#newcamd_select").html(html);
				   }  
				});
				
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { input_id : input_id , plugin : 'channels', action : "get_input_params" },
				  async: false,
				  dataType: "script"
				});
				$.UIkit.modal("#input-edit-form").show();
				show_input_type_table();
				return false;
		}
		
		function add_output_dialog()
		{		

				$('#output_submit_button').html('<i class="uk-icon-plus"></i> Добавить');
				$("#output-edit-form-f #action").val("add_output");
				$("#output-edit-form-f #port").val("1234");
				$("#output-edit-form-f #ttl").val("64");
				
				$.UIkit.modal("#output-edit-form").show();
				show_output_type_table();
				
				return false;
		}
		
		function add_input_dialog()
		{		
				$('#input_submit_button').html('<i class="uk-icon-plus"></i> Добавить');
				$("#input-edit-form-f #action").val("add_input");
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_dvb_input_select" },
				  async: false,
				  success: function(html){  
       						 $("#dvb_input_select").html(html);  
				   }  
				});
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_newcamd_select" },
				  async: false,
				  success: function(html){  
       						 $("#newcamd_select").html(html);
			 				 $("#input-edit-form #newcamd_id").val('');  
				   }  
				});
				
				$.UIkit.modal("#input-edit-form").show();
				show_input_type_table();
				return false;
		}
		
		function show_output_type_table()
		{
				
				//alert($('#type').val());
				switch ($('#output-edit-form #type').val()) {
					case 'udp':
						$('#out_udp').find(":input").prop("disabled", false);
						$('#out_http').find(":input").prop("disabled", true);
						$('#out_file').find(":input").prop("disabled", true);
						$('#out_udp').css( "display", "block" )
						$('#out_http').css( "display", "none" )
						$('#out_file').css( "display", "none" )
						break;
					case 'http':
						$('#out_udp').find(":input").prop("disabled", true);
						$('#out_http').find(":input").prop("disabled", false);
						$('#out_file').find(":input").prop("disabled", true);
						$('#out_udp').css( "display", "none" )
						$('#out_http').css( "display", "block" )
						$('#out_file').css( "display", "none" )
						break
					case 'file':
						$('#out_udp').find(":input").prop("disabled", true);
						$('#out_http').find(":input").prop("disabled", true);
						$('#out_file').find(":input").prop("disabled", false);
						$('#out_udp').css( "display", "none" )
						$('#out_http').css( "display", "none" )
						$('#out_file').css( "display", "block" )
						break;
				}
		}
		
		
		function show_input_type_table()
		{

				//alert($('#type').val());
				switch ($('#input-edit-form #type').val()) {
					case 'dvb':
						$('#in_dvb').find(":input").prop("disabled", false);
						$('#in_udp').find(":input").prop("disabled", true);
						$('#in_http').find(":input").prop("disabled", true);
						$('#in_file').find(":input").prop("disabled", true);
						$('#in_dvb').css( "display", "block" )
						$('#in_udp').css( "display", "none" )
						$('#in_http').css( "display", "none" )
						$('#in_file').css( "display", "none" )
						break;
					case 'udp':
						$('#in_dvb').find(":input").prop("disabled", true);
						$('#in_udp').find(":input").prop("disabled", false);
						$('#in_http').find(":input").prop("disabled", true);
						$('#in_file').find(":input").prop("disabled", true);
						$('#in_dvb').css( "display", "none" )
						$('#in_udp').css( "display", "block" )
						$('#in_http').css( "display", "none" )
						$('#in_file').css( "display", "none" )
						break;
					case 'http':
						$('#in_dvb').find(":input").prop("disabled", true);
						$('#in_udp').find(":input").prop("disabled", true);
						$('#in_http').find(":input").prop("disabled", false);
						$('#in_file').find(":input").prop("disabled", true);
						$('#in_dvb').css( "display", "none" )
						$('#in_udp').css( "display", "none" )
						$('#in_http').css( "display", "block" )
						$('#in_file').css( "display", "none" )
						break
					case 'file':
						$('#in_dvb').find(":input").prop("disabled", true);
						$('#in_udp').find(":input").prop("disabled", true);
						$('#in_http').find(":input").prop("disabled", true);
						$('#in_file').find(":input").prop("disabled", false);
						$('#in_dvb').css( "display", "none" )
						$('#in_udp').css( "display", "none" )
						$('#in_http').css( "display", "none" )
						$('#in_file').css( "display", "block" )
						break;
				}
		}
		
		
		
		var map_frm = $('#map-edit-form-f');
		map_frm.submit(function (ev) {
			$.ajax({
				type: map_frm.attr('method'),
				url: map_frm.attr('action'),
				data: map_frm.serialize(),
				success: function (data) {
					refresh_maps();
				}
			});
			$.UIkit.modal("#map-edit-form").hide();
			ev.preventDefault();
		});
		

		function edit_map_dialog()
		{		
				$('#map_submit_button').html('<i class="uk-icon-save"></i> Сохранить');
				$.UIkit.modal("#map-edit-form").show();
				$("#map-edit-form #action").val("edit_map");
				return false;
		}
		
		function add_map_dialog()
		{
				$('#map_submit_button').html('<i class="uk-icon-plus"></i> Добавить');
				$.UIkit.modal("#map-edit-form").show();
				$("#map-edit-form #input_pid").val("");
				$("#map-edit-form #output_pid").val("");
				$("#map-edit-form #action").val("add_map");
				return false;
		}

	
	function add_map_template(){
		if (confirm("Добавить приобразования из шаблона?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'add_map_template', channel_id : "{channel_id}", map_template_id : $('#map_template_id').val() },
				async: true,
				success: function(html){  
					refresh_maps();
				}  
			});
		}else{
			return false;
		}
	}
	
	function delete_all_maps(){
		if (confirm("Удалить все преобразования?")) {
			$.ajax({
					url: "{php_self}",
					type: "POST",
					data: { plugin : "channels", action : 'delete_all_maps', channel_id : "{channel_id}" },
					async: true,
					success: function(html){  
						refresh_maps();
					}  
				});
			}else{
				return false;
			}
	}
	
	function delete_input(input_id)
	{
		if (confirm("Удалить вход?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'delete_input', channel_id : "{channel_id}" , input_id : input_id },
				async: true,
				success: function(html){  
					refresh_inputs();
				}  
			});
		}else{
			return false;
		}
	}

	function delete_output(output_id)
	{
		if (confirm("Удалить выход?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'delete_output', channel_id : "{channel_id}" , output_id : output_id },
				async: true,
				success: function(html){  
					refresh_outputs();
				}  
			});	
		} else {
			return false;
		}
	}
	
	function delete_map(map_id)
	{
		if (confirm("Удалить преобразование?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'delete_map', channel_id : "{channel_id}" , map_id : map_id },
				async: true,
				success: function(html){  
					refresh_maps();
				}  
			});	
		} else {
			return false;
		}
	}
	
	function delete_filter(filter_id, input_id)
	{
		if (confirm("Удалить фильтр?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'delete_filter', input_id : input_id , filter_id : filter_id },
				async: true,
				success: function(html){  
					refresh_filters();
				}  
			});	
		} else {
			return false;
		}
	}
	
	function refresh_inputs()
	{
		inputsTable.ajax.reload();	
	}
	
	function refresh_outputs()
	{
		outputsTable.ajax.reload();
	}
	
	function refresh_maps()
	{
		mapsTable.ajax.reload();
	}
	
	function refresh_filters()
	{
		filtersTable.ajax.reload();
	}
	
	var inputsTable;
	var outpusTable;
	var mapsTable;
	var filtersTable;
	
	$(document).ready(function() {
		//refresh_inputs();
		//refresh_outputs();
		//refresh_maps();
		
		inputsTable = $('#input_list').DataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": false,
				"ordering": false,
				"info": false,
				"autoWidth": false,
				"stateSave": false,
				"ajax": "{php_self}?plugin=channels&action=get_inputs&channel_id={channel_id}",
				"language": {
                	"url": "scripts/datatables/i18n/Russian.lang"
            	},
				"columnDefs": [
					  { "width": "10px", "targets": [ 0 ] },
					  { "width": "100px", "targets": [ 2 ] },
				],
			});
			
		outputsTable = $('#output_list').DataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": false,
				"ordering": false,
				"info": false,
				"autoWidth": false,
				"stateSave": false,
				"ajax": "{php_self}?plugin=channels&action=get_outputs&channel_id={channel_id}",
				"language": {
                	"url": "scripts/datatables/i18n/Russian.lang"
            	},
				"columnDefs": [
					  { "width": "100px", "targets": [ 1 ] },
				],
			});
	
		mapsTable = $('#map_list').DataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": false,
				"ordering": false,
				"info": false,
				"autoWidth": false,
				"stateSave": false,
				"ajax": "{php_self}?plugin=channels&action=get_maps&channel_id={channel_id}",
				"language": {
                	//"url": "scripts/datatables/i18n/Russian.lang"
            	},
				"columnDefs": [
					  { "width": "100px", "targets": [ 0 ] },
					  { "width": "100px", "targets": [ 1 ] },
					  { "width": "100px", "targets": [ 3 ] },
				],
			});
		
	})
</script> 
