<table width="100%" border="0" cellspacing="0" id="astras" class="display compact nowrap">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Адрес</th>
      <th>Порт</th>
	  <th>Сервер</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
</table>
<div id="astra-edit-form" class="uk-modal" >
  <div class="uk-modal-dialog" > <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form action="{php_self}" id="astra-edit-form-f" class="uk-form">
      <fieldset data-uk-margin class="uk-form-horizontal" >
        <div class="uk-form-row">
          <label for='astra'  class="uk-form-label">Название</label>
          <div class="uk-form-controls">
            <input name='name' id='name' type="text" maxlength="50">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='control_server_addr'  class="uk-form-label">Адрес сервера с astra</label>
          <div class="uk-form-controls">
            <input name='control_server_addr' id='control_server_addr' type="text" maxlength="50">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='control_server_port'  class="uk-form-label">Порт</label>
          <div class="uk-form-controls">
            <input name='control_server_port' id='control_server_port' type="text" maxlength="6">
          </div>
        </div>
		<div class="uk-form-row">
          <label for='city_server_addr'  class="uk-form-label">Адрес управляющего сервера </label>
          <div class="uk-form-controls">
            <input name='city_server_addr' id='city_server_addr' type="text" maxlength="50">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='control_server_iface'  class="uk-form-label">Слушать на интерфейсе</label>
          <div class="uk-form-controls">
            <input name='control_server_iface' id='control_server_iface' type="text" maxlength="16" >
          </div>
        </div>
        <div class="uk-form-row">
          <label for='event_request'  class="uk-form-label">URL мониторинга</label>
          <div class="uk-form-controls">
            <input name='event_request' id='event_request' type="text" maxlength="200" class="uk-form-width-medium">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='event_request_interval'  class="uk-form-label">Интервал мониторинга, сек</label>
          <div class="uk-form-controls">
            <input name='event_request_interval' id='event_request_interval' type="text" maxlength="10" >
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <button class="uk-button uk-button-success" type="submit" id="astra-submit-button">Добавить</button>
          </div>
        </div>
      </fieldset>
      <input type="hidden" name='plugin' id='plugin' value="astras">
      <input type="hidden" name='action' id='action' value="add_astra">
      <input type="hidden" name='astra_id' id='astra_id' value="">
    </form>
  </div>
</div>


<script type='text/javascript'>
	$(document).ready(function() {
    	$('#astras').dataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": true,
				"ordering": true,
				"info": false,
				"autoWidth": false,
				"stateSave": true,
				"language": {
                	"url": "scripts/datatables/i18n/Russian.lang"
            	},
				"ajax": "{php_self}?plugin=astras&action=get_astras",
				"columnDefs": [
					  { "width": "25px", "targets": [ 0 ] },
					  { "width": "100px", "targets": [ 4 ] },
					  { 'sortable': false, 'targets': [ 4 ] }
				],
				"columns": [
					{ "data": "astra_id" },
					{ "data": "name" },
					{ "data": "control_server_addr" },
					{ "data": "control_server_port" },
					{ "data": "city_server_addr" },
					{ "data": "astra_buttons" },
				],
				"rowCallback": function( row, data ) {
					// Bold the grade for all 'A' grade brows
						$('td:eq(1)', row).html('<strong>' + data['name'] + '</strong>');
				},
				
				
			});
			
				if('{show_add_dialog}' == 'Y')
				{
					add_astra_dialog();
				}
			
		} );
		
				
		function edit_astra_dialog()
		{		
				$('#astra-submit-button').html('<i class="uk-icon-save"></i> Сохранить');
				$("#astra-edit-form-f #action").val("edit_astra");
				$.UIkit.modal("#astra-edit-form").show();
		}
		
		function add_astra_dialog()
		{
				$("#astra-edit-form-f #name").val("");
				$("#astra-edit-form-f #control_server_addr").val("");
				$("#astra-edit-form-f #control_server_iface").val("");
				$("#astra-edit-form-f #control_server_port").val("");
				$("#astra-edit-form-f #city_server_addr").val("");
				$("#astra-edit-form-f #event_request").val("{monitor_link}");
				$("#astra-edit-form-f #event_request_interval").val("30");
				$("#astra-edit-form-f #action").val("add_astra");
				$('#astra-submit-button').html('<i class="uk-icon-plus"></i> Добавить');
				$.UIkit.modal("#astra-edit-form").show();
		}
		
	
		
</script> 