        <a href="#" onclick='$("#camserver-edit-form-f #name").val("{name}");
        					 $("#camserver-edit-form-f #host").val("{host}");
                             $("#camserver-edit-form-f #port").val("{port}");
                             $("#camserver-edit-form-f #user").val("{user}");
                             $("#camserver-edit-form-f #pass").val("{pass}");
                             $("#camserver-edit-form-f #timeout").val("{timeout}");
                             $("#camserver-edit-form-f #key").val("{key}");
                             $("#camserver-edit-form-f #disable_emm").val("{disable_emm}");
                             $("#camserver-edit-form-f #newcamd_id").val("{newcamd_id}");
                             edit_camserver_dialog();
                             return false;'><i class="uk-icon-cog uk-icon-small" title="Редактировать"></i></a>&nbsp;&nbsp;
    	<a href="{php_self}?plugin=camservers&action=delete_server&newcamd_id={newcamd_id}" onclick="return confirm('Удалить сервер?')"><i class="uk-icon-times uk-icon-small" style="color:red" title="Удалить"></i></a>
